:host
  display: flex
  flex-direction: column
  flex: 1

.app-login
  flex: 1
  display: grid
  grid-template-rows: min-content 1fr
  gap: 55px

  padding: 39px 42px 39px 42px

  .row-1
    display: flex

  .row-2
    display: grid
    grid-template-rows: 1fr
    grid-template-columns: 1fr 1fr

    .coll-1
      min-height: 0px

      .card
        display: flex
        flex-direction: column
        background-color: #FFFFFF
        border: 0.5px solid #878787
        border-radius: 10px
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1)
        padding: 20px 20px 20px 20px

    .coll-2
      display: flex
      justify-content: center
      align-items: center
      min-height: 0px
