<div class="app-login">
  <div class="row-1">Your Logo</div>
  <div class="row-2">
    <div class="coll-1">
      <div class="card">
        <div class="header">
          <h3 class="welcome">Welcome !</h3>
          <h1 class="title">Sign in to </h1>
          <h1 class="text">Lorem Ipsum is simply</h1>
        </div>
        <div class="form-inputs">
          <div class="input-group">
            <div class="input-name">User name</div>
            <input
              type="text"
              class="input"
              placeholder="Enter your user name"
              aria-label="Username"
            />
          </div>
          <div class="input-group">
            <div class="input-name">Password</div>
            <input
              type="password"
              class="input"
              placeholder="Enter your Password"
              aria-label="Password"
            />
          </div>
        </div>
        <div class="submit-container">
          <button class="button button-fill">Login</button>
        </div>
        <div class="message">
          Dont have an Account ? <strong>Register</strong>
        </div>
      </div>
    </div>
    <div class="coll-2">
      <img
        src="assets/svg/small-team-discussing-ideas-sem-bordas.svg"
        role="img"
        alt="Duas pessoas conversando"
        aria-label="Duas pessoas conversando"
        draggable="false"
      />
    </div>
  </div>
</div>
